
/*CABECALHO*/

a{
    color: var(--branco);
    text-decoration:none;
}

.Cabeçalho{
    background-color: var(--azul-escuro);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    height:10vh;  /* 10% da visualização vertical do dispositivo*/
}

.navegaçao{
    display:flex;
    align-items:center;
    gap:50px;
}

.navegaçao a{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

/*CONTEÚDO PRINCIPAL*/

.banner-principal{
    color:var(--branco);
    height:70vh;
    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 0 120px;
}

.texto-banner{
    height:100%;
    display:flex;
    flex-direction:column;
    Justify-content:center;
    gap:50px;
    align-items: flex-start;
    
}

.texto-banner p{
    font-size:1.5em;
    width:50%;
    
}

.botao{
    padding:20px 50px;
    border-radius:10px;
    background-color: var(--cor-destaque);
    color: var(--azul-escuro);
    text-decoration: none;

    font-size:1.2em;
    font-weight: 700;
    text-transform:uppercase
}

.botao:hover{
    background-color: #2ab2ab;
    color:white;
}

.banner-principal img{
    align-self:flex-end;
    width:35%
    
}